<!-- Footer principal -->
<footer class="footer-container">
  <div class="footer-content">
    <!-- Logo -->
    <div class="footer-logo-section">
      <a href="index.html" class="footer-logo-link">
        <img
          src="assets/img/logo-textihuella.png"
          alt="Logo TextiHuella Pet"
          class="footer-logo-icon"
        />

        <h2 class="logo-navbar">
          <span class="logo-main">
            <span class="text-secondary">Texti</span>Huella
          </span>
          <small class="logo-pet-below">━ PET ━</small>
        </h2>
      </a>
    </div>

    <!-- Redes sociales -->
    <div class="footer-social-main">
      <a
        href="https://www.facebook.com/TextiHuellaPet"
        target="_blank"
        aria-label="Facebook"
      >
        <i class="fab fa-facebook-f"></i>
      </a>

      <a
        href="https://www.instagram.com/textihuellapet"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram"></i>
      </a>

      <a
        href="https://tiktok.com/@textihuellapet"
        target="_blank"
        aria-label="TikTok"
      >
        <i class="fab fa-tiktok"></i>
      </a>

      <a href="https://wa.me/51986341672" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

    <!-- Información -->
    <div class="footer-info">
      <div class="footer-info-block">
        <h3>Pedidos</h3>
        <p>Atención online</p>
        <p>WhatsApp: +51 986 341 672</p>
      </div>

      <div class="footer-divider-vertical"></div>

      <div class="footer-info-block">
        <h3>Horario de Atención</h3>
        <p>Lun – Sab, 8AM – 5PM</p>
        <p>Domingo: Cerrado</p>
      </div>
    </div>

    <!-- Línea -->
    <div class="footer-line"></div>

    <!-- Derechos -->
    <div class="footer-bottom">
      <p>© 2026 TextiHuella Pet. Todos los derechos reservados.</p>

      <div class="footer-divider-small"></div>

      <p class="developer-text">
        Desarrollado por
        <a
          href="https://edvalerawork.github.io/PortafolioWeb/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span>EdValera</span>
        </a>
      </p>

      <div class="footer-dev-social">
        <a
          href="https://github.com/edvalerawork"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="fab fa-github"></i>
        </a>

        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
